<h1>Add a new task</h1>
<form action="tasks" method='POST'>
  <input type="text" name="name" placeholder="Name of your task? ">
  <input type="text" name="description" placeholder="Description of your task?">
</form>
